<div class="about">
    <div class="about-left">
        <img src="./images/IMG-e762d5246bf27a7fa8dab5d244791e53-V.png" alt="">
    </div>
    <!-- <div class="square"></div> -->
    <div class="about-right">
        <div class="about-top">
            <div class="about-img">
                <img src="./images/2-layers-about.png" alt="">
            </div>
            <div class="about-text">
                <p>Грамотне та гармонійне поєднання матеріалів, кольорів, фактур, конструкцій, елементів освітлення та авторських ідей дозволяє створити унікальний, неповторний дизайн, котрий стане «візитівкою» Вашого житла. </p>
            </div>
        </div>
        <div class="about-bottom">
            <div class="about-img">
                <img src="./images/2-layers-about.png" alt="">
            </div>
            <div class="about-text">
                <p>Компанія Svitlo Steli пропонує повний комплекс послуг інтер'єрних рішень: від безкоштовної консультації та замірів до повної реалізації ремонтних робіт 
                    зі встановленням натяжних стель та систем освітлення.</p>
            </div>
        </div>
        <div class="about-logo-img">
            <img src="./images/logo_SvitloSteli_rgb_copy.png" alt="">
        </div>
    </div>
</div>