<div class="articles">
    <div class="container">
        <div class="tittles">
            <div class="tittle">
                <span>Наші статті</span>
            </div>
            <div class="buttons">
                <div class="left-btn">
                    <img src="./images/2-layers-left.png" alt="">
                </div>
                <div class="right-btn">
                    <img src="./images/2-layers-right.png" alt="">
                </div>
            </div>
       </div>
       <div class="articles-cards">
            <div class="art-card">
                <div class="articles-card-img">
                    <img src="./images/IMG-80959d833cf733bf19420bc8c4fcf968-V.png" alt="">
                </div>
                <div class="articles-card-tittle">
                    <span>Назва статті. Стаття про стелі натяжні</span>
                </div>
                <div class="card-bottom-tittle">
                    <div class="date">
                        <span>24.05.2021</span>
                    </div>
                    <div class="btn">
                        <div class="btn-inside"></div>
                        <div class="back-btn">
                            <div class="btn-item">
                                <span>Читати</span>
                                <img src="./images/arrow-long-right.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="art-card">
                <div class="articles-card-img">
                    <img src="./images/IMG-5466b9bf00c4ac6f18d89a5bea9f16b3-V.png" alt="">
                </div>
                <div class="articles-card-tittle">
                    <span>Назва статті. Стаття про стелі натяжні</span>
                </div>
                <div class="card-bottom-tittle">
                    <div class="date">
                        <span>24.05.2021</span>
                    </div>
                    <div class="btn">
                        <div class="btn-inside"></div>
                        <div class="back-btn">
                            <div class="btn-item">
                                <span>Читати</span>
                                <img src="./images/arrow-long-right.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <div class="all-reviews">
            <span>Переглянути всі статті</span>
            <img src="./images/arrow-long-right_copy_6.png" alt="">
        </div>
        <div class="read-more">
            <p>SEO  текст З року в рік ми прагнемо підвищувати рівень клієнтського сервісу і якість продукції. Успіхи в цьому прагненні були відзначені нагородою «Народний бренд 2020» від Медіа Корпорації RIA в номінації «Магазин декору, інтер'єру». 
                Це результат копіткої праці, постійного контролю якості, застосування сміливих технологічних і дизайнерських рішень, забезпечення високого рівня комфорту і звичайно турботи про кожного нашого клієнта. SEO  текст З року в рік ми прагнемо підвищувати рівень клієнтського сервісу і якість продукції. Успіхи в цьому прагненні були відзначені нагородою «Народний бренд 2020» від Медіа Корпорації RIA в номінації «Магазин декору, інтер'єру». 
                Це результат копіткої праці, постійного контролю якості, застосування сміливих технологічних і дизайнерських рішень, забезпечення високого рівня комфорту і звичайно турботи про кожного нашого клієнта.</p>
        </div>
        <div class="read-more-btn">
            <span>Читати далі</span>
        </div>
    </div>
</div>