<div class="best-team">
    <div class="team-item">
        <div class="team-right">
            <div class="tittle">
                <span>КРАЩА КОМАНДА, 
                    ЯКІЙ МОЖНА ДОВІРЯТИ</span>
            </div>
            <div class="team-description">
                <ul>
                    <li>
                        <div class="team-list-img">
                            <img src="./images/2-layers-about.png" alt="">
                        </div>
                        <div class="team-list-text">
                            <p>У Svitlo Steli ми стежимо за тенденціями у сфері натяжних стель, і завжди в курсі новинок. Усі співробітники в нашій команді – кваліфіковані фахівці, котрі постійно вдосконалюють свою майстерність, регулярно навчаються і підвищують свій рівень на спеціалізованих курсах.</p>
                        </div>
                    </li>
                    <li>
                        <div class="team-list-img">
                            <img src="./images/2-layers-about.png" alt="">
                        </div>
                        <div class="team-list-text">
                            <p>Наші знання, досвід, революційні матеріали та особливі технології, які ми застосовуємо при установці сучасних натяжних стель та проведенні чистового ремонту, дозволяють домагатися ідеальних результатів.
                                Там, де інші майстри відмовляються працювати через складність проекту — ми здатні гарантувати відмінну якість усіх проведених нами робіт.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="team-about">
                <p>Там, де інші майстри відмовляються працювати через складність проекту — ми здатні гарантувати відмінну якість усіх проведених нами робіт.</p>
            </div>
        </div>
        <div class="team-left">
            <div class="team-img">
                <img src="./images/Layer_3.png" alt="">
            </div>
            <div class="light-img">
                <img src="./images/Reznye-natyazhnye-potolki-e1588516529469.png" alt="">    
            </div>
        </div>
        <div class="team-bg-img">
            <img src="./images/Black_&_White_2.png" alt="">
        </div>
    </div>
</div>