<div class="ceilings">
    <div class="container">
       <div class="tittles">
            <div class="tittle">
                <span>Основні види стель</span>
            </div>
            <div class="buttons">
                <div class="left-btn">
                    <img src="./images/2-layers-left.png" alt="">
                </div>
                <div class="right-btn">
                    <img src="./images/2-layers-right.png" alt="">
                </div>
            </div>
       </div>
       <div class="ceilings-cards">
            <div class="ceiling-card">
            <div class="ceiling-img">
                <img src="./images/IMG-1f448dc1dc2d54a6905a6be49e7d657e-V.png" alt="">
            </div>
            <div class="card-container">
                <div class="ceil-card-tittle">
                    <span>
                        Глянцеві натяжні стелі
                    </span>
                </div>
                <div class="ceil-card-description">
                    <div class="coasts">
                        <span from>від</span>
                        <span class="coast-hrn">370</span>
                        <span class="hrn">грн</span>
                    </div>
                    <div class="can-to-buy">
                        <img src="/images/tick_copy.png" alt="">
                        <span>Є в наявності</span>
                    </div>
                </div>
                <div class="btn">
                    <div class="btn-inside"></div>
                    <div class="back-btn">
                        <div class="btn-item">
                            <span>Перейти в каталог</span>
                            <img src="./images/arrow-long-right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
                </div>
            <div class="ceiling-card">
            <div class="ceiling-img">
                <img src="./images/IMG-7cf86875cba9a7309801cf61474548f3-V.png" alt="">
            </div>
            <div class="card-container">
                <div class="ceil-card-tittle">
                    <span>
                        Глянцеві натяжні стелі
                    </span>
                </div>
                <div class="ceil-card-description">
                    <div class="coasts">
                        <span from>від</span>
                        <span class="coast-hrn">1 500</span>
                        <span class="hrn">грн</span>
                    </div>
                    <div class="can-to-buy">
                        <img src="/images/tick_copy.png" alt="">
                        <span class="not-available">Немає в наявності</span>
                    </div>
                </div>
                <div class="btn">
                    <div class="btn-inside"></div>
                    <div class="back-btn">
                        <div class="btn-item">
                            <span>Перейти в каталог</span>
                            <img src="./images/arrow-long-right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
                </div>
            <div class="ceiling-card">
            <div class="ceiling-img">
                <img src="./images/IMG-74269db6d6b516927319b67d048db3ad-V.png" alt="">
            </div>
            <div class="card-container">
                <div class="ceil-card-tittle">
                    <span>
                        Глянцеві натяжні стелі
                    </span>
                </div>
                <div class="ceil-card-description">
                    <div class="coasts">
                        <span from>від</span>
                        <span class="coast-hrn">750</span>
                        <span class="hrn">грн</span>
                    </div>
                    <div class="can-to-buy">
                        <img src="/images/tick_copy.png" alt="">
                        <span>Є в наявності</span>
                    </div>
                </div>
                <div class="btn">
                    <div class="btn-inside"></div>
                    <div class="back-btn">
                        <div class="btn-item">
                            <span>Перейти в каталог</span>
                            <img src="./images/arrow-long-right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
                </div>
                <div class="ceiling-card">
                    <div class="ceiling-img">
                        <img src="./images/IMG-1f448dc1dc2d54a6905a6be49e7d657e-V.png" alt="">
                    </div>
                    <div class="card-container">
                        <div class="ceil-card-tittle">
                            <span>
                                Глянцеві натяжні стелі
                            </span>
                        </div>
                        <div class="ceil-card-description">
                            <div class="coasts">
                                <span from>від</span>
                                <span class="coast-hrn">370</span>
                                <span class="hrn">грн</span>
                            </div>
                            <div class="can-to-buy">
                                <img src="/images/tick_copy.png" alt="">
                                <span>Є в наявності</span>
                            </div>
                        </div>
                        <div class="btn">
                            <div class="btn-inside"></div>
                            <div class="back-btn">
                                <div class="btn-item">
                                    <span>Перейти в каталог</span>
                                    <img src="./images/arrow-long-right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    <div class="ceiling-card">
                    <div class="ceiling-img">
                        <img src="./images/IMG-7cf86875cba9a7309801cf61474548f3-V.png" alt="">
                    </div>
                    <div class="card-container">
                        <div class="ceil-card-tittle">
                            <span>
                                Глянцеві натяжні стелі
                            </span>
                        </div>
                        <div class="ceil-card-description">
                            <div class="coasts">
                                <span from>від</span>
                                <span class="coast-hrn">1 500</span>
                                <span class="hrn">грн</span>
                            </div>
                            <div class="can-to-buy">
                                <img src="/images/tick_copy.png" alt="">
                                <span class="not-available">Немає в наявності</span>
                            </div>
                        </div>
                        <div class="btn">
                            <div class="btn-inside"></div>
                            <div class="back-btn">
                                <div class="btn-item">
                                    <span>Перейти в каталог</span>
                                    <img src="./images/arrow-long-right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    <div class="ceiling-card">
                    <div class="ceiling-img">
                        <img src="./images/IMG-74269db6d6b516927319b67d048db3ad-V.png" alt="">
                    </div>
                    <div class="card-container">
                        <div class="ceil-card-tittle">
                            <span>
                                Глянцеві натяжні стелі
                            </span>
                        </div>
                        <div class="ceil-card-description">
                            <div class="coasts">
                                <span from>від</span>
                                <span class="coast-hrn">750</span>
                                <span class="hrn">грн</span>
                            </div>
                            <div class="can-to-buy">
                                <img src="/images/tick_copy.png" alt="">
                                <span>Є в наявності</span>
                            </div>
                        </div>
                        <div class="btn">
                            <div class="btn-inside"></div>
                            <div class="back-btn">
                                <div class="btn-item">
                                    <span>Перейти в каталог</span>
                                    <img src="./images/arrow-long-right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
        </div>
        <div class="see-more">
            <div class="ceiling-more">
                <span>Дивитись більше</span>
            </div>
            <div class="ceiling-arrow-img">
                <img src="./images/arrow-long-right_copy_6.png" alt="">
            </div>
        </div>
    </div>
</div>