<div class="free-measure">
    <div class="container">
        <div class="measure-item">
            <div class="top-measure">
                <div class="measure-bg">
                    <img src="./images/Black_&_White_1_copy_7.png" alt="">
                </div>
                <div class="measure-items">
                    <div class="tittle">
                        <span>Запишіться на безкоштовний замір</span>
                    </div>
                    <div class="measure-text">
                        <p>До вас приїде наш фахівець, привезе всі зразки матеріалів, проконсультує
                            по нашій продукції, зробить потрібні заміри приміщень і відразу ж розрахує підсумкову вартість, з усіма знижками та акціями.</p>
                    </div>
                </div>
            </div>
            <div class="bottom-measure">
                <div class="user-number">
                    <input type="text" placeholder="Ваш телефон">
                </div>
                <div class="btn">
                    <button class="btn"></button>
                    <div class="back-btn">
                        <div class="bg-btn-text">
                            <span>Запросити замірника</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="measure-right-bg">
        <img src="./images/Layer_554.png" alt="">
    </div>
</div>