<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{pageTitle}}</title>
	<link rel="stylesheet" type="text/css" href="css/all.css" media="all">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
	
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<div class="container">
				<div class="logo">
					<img src="./images/logo.png" alt="">
				</div>
				<div class="header-list">
					<ul>
						<a href="#"><li><h4>ГОЛОВНА</h4></li></a>
						<a href="#"><li><h4 class="inline">ПОСЛУГИ</h4> <img class="serviceBtn" src="./images/Rectangle_2_copy.png" alt=""></li></a>
						<a href="#"><li><h4>НАШІ ПЕРЕВАГИ</h4></li></a>
						<a href="#"><li><h4>ПРО НАС</h4></li></a>
						<a href="#"><li><h4>КОНТАКТИ</h4></li></a>
						<a href="#"><li><h4>ЗАМОВИТИ ДЗВІНОК</h4></li></a>
						<a href="#"><li><h4>ПОШУК </h4></li></a>
						<a href="#"><li><h4>УВІЙТИ</h4></li></a>
						<a href="#"><li><h4>МОВА</h4></li></a>
					</ul>
				</div>
				
			</div>
		</div>
		<div class="main">
