<div class="light">
    <div class="container">
        <div class="light-images">
            <div class="light-left">
                <img src="./images/nathan-dumlao-qUNJ7y6YMJc-unsplash.png" alt="">
            </div>
            <div class="light-text">
                <div class="tittle">
                    <span>Заголовок <br>
                        про освітлення</span>
                </div>
                <div class="light-description">
                    <ul>
                        <li>
                            <div class="about-top">
                                <div class="about-img">
                                    <img src="./images/2-layers-about.png" alt="">
                                </div>
                                <div class="about-text">
                                    <p>Текст-заглушка У Svitlo Steli ми стежимо за тенденціями у сфері натяжних стель, і завжди в курсі новинок.  </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="about-top">
                                <div class="about-img">
                                    <img src="./images/2-layers-about.png" alt="">
                                </div>
                                <div class="about-text">
                                    <p>Наші знання, досвід, революційні матеріали та особливі технології, які ми застосовуємо при установці. </p>
                                </div>
                            </div>
                        </li>
                        <div class="btn">
                            <div class="btn-inside"></div>
                            <div class="back-btn">
                                <div class="btn-item">
                                    <span>Перейти в каталог</span>
                                    <img src="./images/arrow-long-right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="light-right">
                <img src="./images/jean-philippe-delberghe-Ry9WBo3qmoc-unsplash.png" alt="">
            </div>
        </div>
        <div class="line"></div>
    </div>
</div>