<div class="main-block">
    <div class="background-img">
        <img src="./images/Layer_953.png" alt="">
    </div>
    <div class="container">
        <div class="main-item">
            <div class="left-block">
                <div class="main-tittle">
                    <span>СТИЛЬНІ 
                        НАТЯЖНІ  СТЕЛі
                        ТА  ОСВІТЛЕННЯ</span>
                </div>
                <div class="tittle-description">
                    <span>Відображення краси 
                        та затишку у Вашій оселі</span>
                </div>
            </div>
            <div class="right-block">
                <div class="top-text">
                    <span>Залиште заявку</span>
                </div>
                <div class="top-text-description">
                    <span>І отримайте наш оновлений прайс-лист
                        зі зниженими цінами на всі послуги</span>
                </div>
                <div class="border-card"></div>
                <div class="card-bg-img">
                    <img src="./images/Black_&_White_1_copy_5.png" alt="">
                </div>
                <div class="form">
                    <div class="inputs">
                        <input type="text" placeholder="Ваше імʼя">
                        <input type="text" placeholder="Телефон">
                    </div>
                    <div class="btn">
                        <button class="btn"></button>
                        <div class="back-btn">
                            <div class="bg-btn-text">
                                <span>Прорахунок ціни</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>