<div class="offer-block">
    <div class="tittle">
        <span>ЩО МИ ПРОПОНУЄМО ?</span>
    </div>
    <div class="more-offers">
        <div class="ofer-cards">
            <div class="offer-card">
                <img src="./images/1620900375749_изображение_viber_2021-04-13_11-30-08.png" alt="">
                <div class="offer-background">
                    <div class="background-item">
                        <div class="card-tittle">
                            <span>Натяжні стелі</span>
                        </div>
                        <div class="card-description">
                            <p>Працюємо з глянцевими, сатиновими, матовими, тканинними матеріалами різноманітних конструкцій</p>
                        </div>
                        <div class="btn">
                            <button class="btn-inside">  
                            </button>
                            <div class="back-btn">
                                <div class="btn-item">
                                    <span>Детальніше</span>
                                    <img src="./images/arrow-long-right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-card">
                <img src="./images/IMG-1dbf833eba078a0ef86c4b45e1deef42-V_copy.png" alt="">
                <div class="offer-background">
                    <div class="background-item">
                        <div class="card-tittle">
                            <span>Освітлення</span>
                        </div>
                        <div class="card-description">
                            <p>Пропонуємо люстри, точкові світильники та світлодіодні стрічки 
                                від відомих компаній</p>
                        </div>
                        <div class="btn">
                            <button class="btn-inside">  
                            </button>
                            <div class="back-btn">
                                <div class="btn-item">
                                    <span>Детальніше</span>
                                    <img src="./images/arrow-long-right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-card">
                <img src="./images/Layer_558.png" alt="">
                <div class="offer-background">
                    <div class="background-item">
                        <div class="card-tittle">
                            <span>Чистові будівельні роботи</span>
                        </div>
                        <div class="card-description">
                            <p>Майстри проведуть якісний ремонт кімнат: пофарбують стіни, поклеять шпалери, укладуть ламінат 
                                та паркетну дошку</p>
                        </div>
                        <div class="btn">
                            <button class="btn-inside">  
                            </button>
                            <div class="back-btn">
                                <div class="btn-item">
                                    <span>Детальніше</span>
                                    <img src="./images/arrow-long-right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="consultation">
            <div class="cons-backround">
                <img src="./images/Black_&_White_1.png" alt="">
            </div>
            <div class="cons-item">
                <div class="cons-tittle">
                    <span>ДЛЯ НАС НЕМАЄ НЕЗДІЙСНЕНИХ ЗАВДАНЬ!</span>
                </div>
                <div class="cons-item">
                    <div class="cons-text">
                        <p>ми підберемо рішення навіть до самої нестандартної ідеї,
                            виходячи з Ваших побажань та можливостей.</p>
                    </div>
                </div>
                <div class="btn">
                    <button class="btn"></button>
                    <div class="back-btn">
                        <div class="bg-btn-text">
                            <span>Отримати консультацію</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-cons">
            <div class="cons-bg">
                <img src="./images/IMG-fe10637007a093d140b3e470e810a482-V.png" alt="">
            </div>
            <div class="container">
                <div class="about-cons-block">
                    <ul>
                        <li>
                            <div class="list-icon">
                                <img src="./images/3-layers.png" alt="">
                            </div>
                            <div class="list-text">
                                <p>Ми постійно розширюємо наш асортимент товарів, пропонуючи клієнтам тільки кращу продукцію від провідних виробників і визнаних лідерів на ринку. </p>
                            </div>
                        </li>
                        <li>
                            <div class="list-icon">
                                <img src="./images/31-layers.png" alt="">
                            </div>
                            <div class="list-text">
                                <p>Працюємо виключно за міжнародними стандартами якості та тільки з сертифікованими матеріалами. </p>
                            </div>
                        </li>
                        <li>
                            <div class="list-icon">
                                <img src="./images/6-layers.png" alt="">
                            </div>
                            <div class="list-text">
                                <p>Продукція провідних виробників за всіма параметрами відповідає вимогам санітарно-гігієнічних норм і повністю безпечна в протипожежному відношенні.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>