<div class="our-dignity">
    <div class="container">
        <div class="tittle">
            <span>Наші переваги</span>
        </div>
        <div class="dignity-item">
            <ul>
                <li>
                    <div class="dignity-list-item">
                        <div class="dignity-list-img">
                            <img src="./images/2-list-t.png" alt="">
                        </div>
                        <div class="dignity-list-text">
                            <span>Талановиті майстри, дизайнери</span>
                        </div>
                    </div>
                    <div class="dignity-list-item">
                        <div class="dignity-list-img">
                            <img src="./images/2-list-b.png" alt="">
                        </div>
                        <div class="dignity-list-text">
                            <span>Індивідуальний підхід</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dignity-list-item">
                        <div class="dignity-list-img">
                            <img src="./images/3-list-t.png" alt="">
                        </div>
                        <div class="dignity-list-text">
                            <span>Бездоганна якість матеріалів і комплектуючих</span>
                        </div>
                    </div>
                    <div class="dignity-list-item">
                        <div class="dignity-list-img">
                            <img src="./images/3-list-b.png" alt="">
                        </div>
                        <div class="dignity-list-text">
                            <span>Ввічливе обслуговування</span>
                        </div>
                    </div>
                    <li>
                        <div class="dignity-list-item">
                            <div class="dignity-list-img">
                                <img src="./images/4-list-t.png" alt="">
                            </div>
                            <div class="dignity-list-text">
                                <span>Багатий асортимент</span>
                            </div>
                        </div>
                        <div class="dignity-list-item">
                            <div class="dignity-list-img">
                                <img src="./images/4-list-b.png" alt="">
                            </div>
                            <div class="dignity-list-text">
                                <span>Зручний графік роботи</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dignity-list-item">
                            <div class="dignity-list-img">
                                <img src="./images/5-list-t.png" alt="">
                            </div>
                            <div class="dignity-list-text">
                                <span>Інноваційні технології</span>
                            </div>
                        </div>
                        <div class="dignity-list-item">
                            <div class="dignity-list-img">
                                <img src="./images/5-list-b.png" alt="">
                            </div>
                            <div class="dignity-list-text">
                                <span>Оперативне виконання замовлень</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dignity-list-item">
                            <div class="dignity-list-img">
                                <img src="./images/6-list-t.png" alt="">
                            </div>
                            <div class="dignity-list-text">
                                <span>Демократичні ціни</span>
                            </div>
                        </div>
                        <div class="dignity-list-item">
                            <div class="dignity-list-img">
                                <img src="./images/6-list-b.png" alt="">
                            </div>
                            <div class="dignity-list-text">
                                <span>Робота ПІД КЛЮЧ</span>
                            </div>
                        </div>
                    </li>
                </li>
            </ul>
        </div>
    </div>
</div>