<div class="partners">
    <div class="container">
        <div class="tittles">
            <div class="tittle">
                <span>Партнери</span>
            </div>
            <div class="buttons">
                <div class="left-btn">
                    <img src="./images/2-layers-left.png" alt="">
                </div>
                <div class="right-btn">
                    <img src="./images/2-layers-right.png" alt="">
                </div>
            </div>
       </div>
       <div class="partners-item">
        <ul>
            <li>
                <img src="./images/Apply_logo.png" alt="">
            </li>
            <li>
                <img src="./images/logo_Feron.png" alt="">
            </li>
            <li>
                <img src="./images/logo_TOP20_RGB_2.png" alt="">
            </li>
            <li>
                <img src="./images/Яскрава_лінія.png" alt="">
            </li>
            <li>
                <img src="./images/logo_Aгромат.png" alt="">
            </li>
        </ul>
    </div>
    </div>
</div>