<div class="quality-work">
    <div class="container">
        <div class="tittle">
            <span>ЯКІСТЬ НАШОЇ РОБОТИ ГОВОРИТЬ САМА ЗА СЕБЕ</span>
        </div>
        <div class="quality-item">
            <div class="quality-description">
                <div class="about-top">
                    <div class="about-img">
                        <img src="./images/2-layers-about.png" alt="">
                    </div>
                    <div class="about-text">
                        <p>З року в рік ми прагнемо підвищувати рівень клієнтського сервісу і якість продукції.  </p>
                    </div>
                </div>
                <div class="about-top">
                    <div class="about-img">
                        <img src="./images/2-layers-about.png" alt="">
                    </div>
                    <div class="about-text">
                        <p>Успіхи в цьому прагненні були відзначені нагородою «Народний бренд 2020» від Медіа Корпорації RIA в номінації «Магазин декору, інтер'єру». </p>
                    </div>
                </div>
                <div class="about-top">
                    <div class="about-img">
                        <img src="./images/2-layers-about.png" alt="">
                    </div>
                    <div class="about-text">
                        <p>Це результат копіткої праці, постійного контролю якості, застосування сміливих технологічних і дизайнерських рішень, забезпечення високого рівня комфорту і звичайно турботи про кожного нашого клієнта.</p>
                    </div>
                </div>

            </div>
            <div class="quality-img">
                <img src="./images/photo_2021-06-29_18-58-37.png" alt="">
            </div>
        </div>
    </div>
    <div class="quality-left-img">
        <img src="./images/Black_&_White_1_copy_4.png" alt="">

    </div>
    <div class="quality-right-img">
        <img src="./images/IMG-5d688961024dafebebe0d7b305866168-V.png" alt="">
    </div>
</div>