<div class="reviews">
    <div class="container">
        <div class="tittles">
            <div class="tittle">
                <span>Відгуки</span>
            </div>
            <div class="buttons">
                <div class="left-btn">
                    <img src="./images/2-layers-left.png" alt="">
                </div>
                <div class="right-btn">
                    <img src="./images/2-layers-right.png" alt="">
                </div>
            </div>
       </div>
       <div class="review-item">
            <div class="rewiew-bg">
                <div class="rev-left-bg">
                    <img src="./images/IMG-6a030f800b0e849302a98e4bde14f97f-V.png" alt="">
                </div>
                <div class="rev-right-bg">
                    <div class="rev-text-block">
                        <div class="rev-tittle">
                            <span>
                                Світлана Довженко
                            </span>
                        </div>
                        <div class="rev-text">
                            <p>Директор своєї компанії «Назва компанії» і можливо ще декілька слів</p>
                        </div>
                        <div class="place">
                            <img src="./images/map-placeholder.png" alt="">
                            <span>     м. Київ, вул. Центральна, 14/5</span>

                        </div>
                        <div class="rev-text">
                            <p> 
                                Список виконаних робіт Стеля — нижня поверхня перекриття будівлі (або його покриття), що обмежує приміщення зверху; сукупність конструктивно-оздоблювальних елементів, що утворюють додаткове перекриття, котре «підвішується» до основного
                            </p>
                        </div>
                        <div class="btn">
                            <button class="btn"></button>
                            <div class="back-btn">
                                <div class="bg-btn-text">
                                    <span>Хочу бути кліентом</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-img">
                        <img src="./images/user.png" alt="">
                    </div>
                    <div class="all-reviews">
                        <span>Читати всі відгуки</span>
                        <img src="./images/arrow-long-right_copy_6.png" alt="">
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>