<div class="safe-cooperation">
    <div class="container">
        <div class="tittle">
            <span>Безпечна співпраця 
                з ТМ SvitloSteli</span>
        </div>
        <div class="safe-item">
            <ul>
                <li>
                    <img src="./images/15-layers.png" alt="">
                </li>
                <li>
                    <div class="list-wrapper">
                        <div class="list-tittle">
                            <span>Працюємо офіційно</span>
                        </div>
                        <div class="item-list">
                            <ul>
                                <li>
                                    <div class="point-list"></div>
                                    Укладаємо договір
                                </li>
                                <li>
                                    <div class="point-list"></div>
                                    Співробітники в штаті
                                </li>
                                <li>
                                    <div class="point-list"></div>
                                    Сертифікати якості
                                </li>
                                <li>
                                    <div class="point-list"></div>
                                    Укладаємо договір
                                </li>
                                <li>
                                    <div class="point-list"></div>
                                    Співробітники в штаті
                                </li>
                                <li>
                                    <div class="point-list"></div>
                                    Сертифікати якості
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="list-wrapper1">
                        <div class="list-tittle">
                            <span>Зручна форма оплати</span>
                        </div>
                        <div class="item-list">
                            <ul>
                                <li>
                                    <div class="point-list"></div>
                                    Укладаємо договір
                                </li>
                                <li>
                                    <div class="point-list"></div>
                                    Співробітники в штаті
                                </li>
                                <li>
                                    <div class="point-list"></div>
                                    Сертифікати якості
                                </li>
                                <li>
                                    <div class="point-list"></div>
                                    Укладаємо договір
                                </li>
                                <li>
                                    <div class="point-list"></div>
                                    Співробітники в штаті
                                </li>
                                <li>
                                    <div class="point-list"></div>
                                    Сертифікати якості
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>