<div class="sub-footer">
    <div class="sub-line-item">
        <div class="sub-left-img">
            <img src="./images/map.png" alt="">
        </div>
        <div class="sub-right-item item-bg">
            <div class="sub-right-img">
                <img src="./images/Black_&_White_2_copy.png" alt="">
            </div>
            <div class="sub-right-text">
                <div class="sub-tittle">
                    <span>Залишились запитання?</span>
                </div>
                <div class="sub-description">
                    <span>Залиште заявку і ми обов’язково з Вами зв’яжемось</span>
                </div>
                <div class="sub-inputs">
                    <input type="text" placeholder="Ваше імʼя">
                    <input type="text" placeholder="Телефон">
                    <span>Коментар</span>
                    <input type="text">
                </div>
                <div class="btn">
                    <button class="btn"></button>
                    <div class="back-btn">
                        <div class="bg-btn-text">
                            <span>Прорахунок ціни</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-line-item">
        <div class="sub-left-block">
            <div class="sub-tittle">
                <span>Оберіть своє місто для монтажу стель</span>
            </div>
            <div class="town-list">
                <div class="left-town">
                    <ul>
                        <li>
                            <span>Хмельницький</span>
                        </li>
                        <li>
                            <span>Шепетівка</span>
                        </li>
                        <li>
                            <span>Кам’янець-Подільський</span>
                        </li>
                        <li>
                            <span>Тернопіль</span>
                        </li>
                        <li>
                            <span>Волочиськ</span>
                        </li>
                        <li>
                            <span>Вінниця</span>
                        </li>
                        <li>
                            <span>Бар</span>
                        </li>
                    </ul>
                </div>
                <div class="right-town">
                    <ul>
                        <li>
                            <span>Гайсин</span>
                        </li>
                        <li>
                            <span>Житомир</span>
                        </li>
                        <li>
                            <span>Бердичів</span>
                        </li>
                        <li>
                            <span>Івано-Франківськ</span>
                        </li>
                        <li>
                            <span>Чернівці</span>
                        </li>
                        <li>
                            <span>Борщів</span>
                        </li>
                        <li>
                            <span>Хотин</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sub-right-block">
            <div class="sub-right-img">
                <img src="./images/Layer_948.png" alt="">
            </div>
        </div>
    </div>
    <div class="sub-button">
        <div class="btn">
            <button class="btn"></button>
            <div class="back-btn">
                <div class="bg-btn-text">
                    <span>Не знайшли своє місто</span>
                </div>
            </div>
        </div>
    </div>
    
</div>