<div class="top-product">
    <div class="container">
        <div class="top-p-bg">
            <img src="./images/2-layers-bg.png" alt="">
        </div>
        <div class="product-item">
            <div class="tittle">
                <span>ЗАГОЛОВОК ПРО ТОП-ПРОДУКТ</span>
            </div>
            <div class="product-text-block">
                <span class="none">Модель люстри кілька слів</span>
                <span>Назва стелі</span>
            </div>
            <div class="product-price">
                <span>20 000 грн</span>
            </div>
            <div class="btn">
                <div class="btn-inside"></div>
                <div class="back-btn">
                    <div class="btn-item">
                        <span>Замовити</span>
                        <img src="./images/arrow-long-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="to-know-coast">
            <div class="know-item">
                <div class="know-left">
                    <div class="tittle">
                        <span>Дізнайся точну вартість м2</span>
                    </div>
                    <div class="about-top">
                        <div class="about-img">
                            <img src="./images/2-layers-about.png" alt="">
                        </div>
                        <div class="about-text">
                            <p>Вартість Вашої майбутньої натяжної стелі залежить від двох моментів: матеріалів та складності робіт. Наш широкий вибір матеріалів і кольорів, дозволить підібрати найкраще рішення для Вашого приміщення.  
                            </p>
                        </div>
                    </div>
                    <div class="about-top">
                        <div class="about-img">
                            <img src="./images/2-layers-about.png" alt="">
                        </div>
                        <div class="about-text">
                            <p>Грамотне та гармонійне поєднання матеріалів, кольорів, фактур, конструкцій, елементів освітлення та авторських ідей дозволяє створити унікальний, неповторний дизайн, котрий стане «візитівкою» Вашого житла. </p>
                        </div>
                    </div>
                    <div class="about-top">
                        <div class="about-img">
                            <img src="./images/2-layers-about.png" alt="">
                        </div>
                        <div class="about-text">
                            <p>Точний розрахунок вартості проводиться після замірів приміщення нашим техекспертом та детальної бесіди з Вами у вас на об’єкті.</p>
                        </div>
                    </div>
                    <div class="about-description">
                        <p>Ми звертаємось до Вас, наш дорогий клієнт. 
                            Цінуйте свій час та даруйте його близьким людям. 
                            Радимо одразу довірити всі турботи по оздобленню нам 
                            і запросити замірника.</p>
                    </div>

                </div>
                <div class="know-right">
                    <div class="know-input">
                        <span class="square-ceilings">Площа стелі</span>
                        <input type="range" min="0" max="100">
                        <div class="input-square">
                            <span>30</span>
                        </div>
                        <div class="input-meter">
                            <span>m2</span>
                        </div>
                    </div>
                    <div class="coating">
                        <div class="coating-text">
                            <span>Покриття</span>
                        </div>
                        <div class="coating-list">
                            <ul>
                                <li>Глянцеві</li>
                                <li>Матові</li>
                                <li>Різьблені</li>
                                <li>Сатинові</li>
                                <li>Двохрівневі</li>
                                <li>З фотодруком</li>
                                <li>З підсвіткою</li>
                            </ul>
                        </div>
                    </div>
                    <div class="approx-coast">
                        <div class="approx-text">
                            <span>Приблизна вартість:</span>
                        </div>
                        <div class="approx-input">
                            <input type="text" placeholder="3000 грн">
                        </div>
                        <div class="user-number">
                            <input type="text" placeholder="Ваш телефон">
                        </div>
                    </div>
                    <div class="btn">
                        <button class="btn"></button>
                        <div class="back-btn">
                            <div class="bg-btn-text">
                                <span>Замовити</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>