<div class="top-question">
    <div class="container">
        <div class="tittle">
            <span>Часті запитання </span>
        </div>
        <div class="accordeon">
            <ul>
                <li>
                    <div class="number-list">
                        <span>1.</span>
                    </div>
                    <div class="question-list">
                        <span>Як відбувається ремонт натяжних стель після затоплення або прориву</span>
                    </div>
                    <div class="accordeon-button">
                        <img src="./images/arrow.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="number-list">
                        <span>2.</span>
                    </div>
                    <div class="question-list">
                        <span>На якому етапі ремонту встановлюють натяжні стелі?</span>
                    </div>
                    <div class="accordeon-button">
                        <img src="./images/arrow.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="number-list">
                        <span>3.</span>
                    </div>
                    <div class="question-list">
                        <span>Як правильно обрати освітлення під натяжні стелі?</span>
                    </div>
                    <div class="accordeon-button">
                        <img src="./images/arrow.png" alt=""> 
                    </div>
                </li>
                <li class="active-question">
                    <div class="number-list">
                        <span>4.</span>
                    </div>
                    <div class="question-list">
                        <span>Як перевірити безпечність матеріалів для натяжних стель</span>
                    </div>
                    <div class="accordeon-button">
                        <img src="./images/arrow-active.png" alt=""> 
                    </div>
                    <div class="question-item">
                        <div class="main-text">
                            <p>Перед тим як визначитись які натяжні стелі обрати, перед покупкою важливо упевнитися в їх якості та безпеці. 
                                Наша компанія SvitloSteli уважно стежить за якістю продукції. Моніторинг ведеться на кожному етапі – від закупівлі матеріалів до прямих продажів замовникам. Всі вироби проходять сертифікацію, що засвідчує їх безпеку.</p>
                        </div>
                        <div class="we-have">
                            <span>Ми надаємо:</span>
                        </div>
                        <div class="main-text">
                            <p><span class="active-list">•</span> Екологічний сертифікат – в ньому вказується, що продукція є екологічно безпечною. <br>
                                <span class="active-list">•</span> Сертифікат відповідності – в ньому вказується, хто виробник матеріалу, ким була замовлена і проведена перевірка. У документі зазначається, що товар відповідає технічним регламентам, розробленим для даного виду продукції.<br>
                                <span class="active-list">•</span> Сертифікат пожежної безпеки – відноситься до обов'язкових документів. У ньому вказується, що якість полотна ПВХ відповідає протипожежним нормам.<br>
                                <span class="active-list">•</span> Санітарно-епідеміологічний висновок з гігієнічною характеристикою продукції. <br>
                                <span class="active-list">•</span> Дотримання стандарту ISO – документ, який свідчить, що продукція відповідає міжнародним стандартам якості.<br>
                                У своїй роботі ми використовуємо тільки сертифіковані натяжні полотна і безпечне обладнання, і на першу ж вимогу покупця ми надамо усі необхідні документи. </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="number-list">
                        <span>5.</span>
                    </div>
                    <div class="question-list">
                        <span>Чи можна встановити натяжні стелі не починаючи ремонт і як швидко відбувається монтаж?</span>
                    </div>
                    <div class="accordeon-button">
                        <img src="./images/arrow.png" alt=""> 
                    </div>
                </li>
                <li>
                    <div class="number-list">
                        <span>6.</span>
                    </div>
                    <div class="question-list">
                        <span>З чого складається ціна натяжної стелі з освітленням?</span>
                    </div>
                    <div class="accordeon-button">
                        <img src="./images/arrow.png" alt=""> 
                    </div>
                </li>
                <li>
                    <div class="number-list">
                        <span>7.</span>
                    </div>
                    <div class="question-list">
                        <span>Як правильно обрати колір, фактуру та технологію встановлення натяжної стелі?</span>
                    </div>
                    <div class="accordeon-button">
                        <img src="./images/arrow.png" alt=""> 
                    </div>
                </li>
                <li>
                    <div class="number-list">
                        <span>8.</span>
                    </div>
                    <div class="question-list">
                        <span>Які роботи входять в чистовий ремонт?</span>
                    </div>
                    <div class="accordeon-button">
                        <img src="./images/arrow.png" alt=""> 
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
