.partners{
    width: 100%;
    height: 315px;
    background-color: #f7f7f7;
    margin-top: 50px;
}
.partners-item{
    text-align: center;
    margin-top: 30px;
}
.partners-item li{
    display: inline-block;
    padding: 0 30px;
}