.reviews{
    height: 700px;
}
.review-item{
    max-width: 1140px;
    max-height: 450px;
    background-color: #fef1e5;
    position: relative;
    margin-top: 35px;
}
.rev-text-block{
    position: absolute;
    top: 0;
    right: 0;
}
.rev-tittle{
    margin: 40px 0 20px;
    width: 260px;
    height: 22px;
    color: #16202a;
    // font-family: "Newton TT";
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.rev-text{
    width: 354px;
    height: auto;
    color: #16202a;
    // font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 40px;
}
.place{
    margin: 0 20px;
    width: 354px;
    height: 24px;
    color: #16202a;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
    // font-family: "Proxima Nova - Semibold";
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.user-img{
    position: absolute;
    top: 55px;
    left: 37%;
}
.all-reviews{
    width: 100%;
    height: 19px;
    color: #16202a;
    font-family: "Proxima Nova - Semibold";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
    text-decoration: underline;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: end;
    margin-top: 20px;
}
.all-reviews img{
    position: relative;
    bottom: 5px;
}
